.env
/node_modules
~$Sample_data.xlsx

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.gitignore
# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*
